.identity__heading {
  padding: 10px 0 10px;
  margin: 0;
}
.nav-pills__heading-topic {
  font-size: 16px;
}
.call-to-action {
  padding: 20px 0 10px;
  width: 100%;
}
.call-to-action__new-section fieldset {
  display: inline-block;
}
.call-to-action__new-section label {
  display: block;
}
.call-to-action__new-section .form-control {
  display: inline-block;
  height: 35px;
}
.call-to-action__item {
  padding: 5px 12px;
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  outline: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  background: #1686b0;
  border: 1px solid #126e90;
  color: #ffffff;
}
.call-to-action__item--submit-entry {
  width: 15%;
  display: inline-block;
  margin: 1px 0 0;
}
.call-to-action__item--subscription {
  width: 100%;
}
/*MESSAGES PAGINATION*/
.pagination {
  width: 100%;
  position: relative;
}
.pagination__link {
  background: #1ca8dd;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
}
.pagination__link:focus,
.pagination__link:hover {
  background: #1686b0;
  color: #ffffff;
}
.pagination__link--count {
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  width: 75%;
}
.pagination__link--previous {
  float: left;
  cursor: pointer;
}
.pagination__link--next {
  float: right;
  cursor: pointer;
}
