{% load staticfiles %}
{% load seed %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Control Interface for Seed">
    <meta name="keywords" content="control interface seed">
    <meta name="author" content="Praekelt Foundation">
    <title>Seed Control Interface &middot; {% block pagetitle %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="{% static "ci/css/toolkit-light.css" %}" rel="stylesheet">
    <link href="{% static "ci/css/application.css" %}" rel="stylesheet">
    <link href="{% static "ci/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "ci/css/font-awesome.min.css" %}" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
    <script src="{% static "ci/js/jquery.min.js" %}"></script>
  </head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="/">
              <img src="{{ logo_url }}" style="width: 230px; height: 147px" />
            </a>
          </div>

          <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <h3 class="nav-header">Health</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'health_messages' 'Messages' %}
              {% nav_url 'health_subscriptions' 'Subscriptions' %}
              {% nav_url 'health_registrations' 'Registrations' %}
            </ul>

            <h3 class="nav-header">Dashboards</h3>
            <ul class="nav nav-pills nav-stacked">
              {% for dashboard in dashboards %}
                {% nav_url 'dashboard' dashboard.name dashboard.id %}
              {% endfor %}
            </ul>

            <h3 class="nav-header">Identities</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'identities' 'Search' %}
            </ul>

            <h3 class="nav-header">Registrations</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'registrations' 'View' %}
            </ul>

            <h3 class="nav-header">Changes</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'changes' 'View' %}
            </ul>

            <h3 class="nav-header">Subscriptions</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'subscriptions' 'View' %}
            </ul>

            <h3 class="nav-header">Send Task Failures</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'schedule_failures' 'Schedules' %}
              {% nav_url 'subscription_failures' 'Subscriptions' %}
              {% nav_url 'outbound_failures' 'Outbounds' %}
            </ul>

            <h3 class="nav-header">More</h3>
            <ul class="nav nav-pills nav-stacked">
              {% nav_url 'services' 'Service Status' %}
              {% nav_url 'reports' 'Reports' %}
              {% nav_url 'logout' 'Logout' %}
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-sm-9 content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
      <p class="text-muted credit">v{% current_version %}</p>
    </div>
  </div>
  <script src="{% static "ci/js/chart.js" %}"></script>
  <script src="{% static "ci/js/tablesorter.min.js" %}"></script>
  <script src="{% static "ci/js/toolkit.js" %}"></script>
  <script src="{% static "ci/js/application.js" %}"></script>
  <script>
    // execute/clear BS loaders for docs
    $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>
