{% extends "ci/base.html" %}
{% load staticfiles %}
{% load seed %}
{% block pagetitle %}Change Management{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">Change Management</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
    </div>
  </div>
</div>

<hr class="m-t">

<h3>Details</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <tbody>
        <tr>
          <th>Unique ID:</th><td>{{ change.id }}</td>
        </tr>
        <tr>
          {% url 'identities-detail' change|get_identity as url %}
          <th>Mother ID:</th>
          <td><a href="{{ url }}">{{ change|get_identity|truncatechars:12 }}</a></td>
        </tr>
        <tr>
          <th>Action:</th><td>{{ change.action }}</td>
        </tr>
        <tr>
          <th>Created:</th><td>{{ change.created_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        <tr>
          <th>Last Updated:</th><td>{{ change.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        <tr>
          <th>Validated:</th><td>{{ change.validated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Submission</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for k, v in change.data.items %}
        <tr>
          <td>{{ k }}</td>
          {% with isid=k|slice:"-2:" %}
          {% if isid == "id" %}
          {% url 'identities-detail' v as url %}
          <td><a href="{{ url }}">{{ v|truncatechars:12 }}</a></td>
          {% else %}
          <td>{{ v }}</td>
          {% endif %}
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
