{% extends "ci/base.html" %}
{% load staticfiles %}
{% block pagetitle %}{{ dashboard.name }} Dashboard{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">{{ dashboard.name }} Dashboard</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">&nbsp;
    </div>
  </div>
</div>

<hr class="m-t">

<div class="flextable">
  <div class="form-inline">
    <div class="form-group">
      <label for="timeframe">Filter</label>
      <select class="custom-select form-control" name="timeframe" id="timeframe" onchange="timeframeChange(this)">
        <option value="last-30-days" selected>Last 30 Days</option>
        <option value="yesterday">Yesterday</option>
        <option value="last-week">Last Week</option>
        <option value="last-3-months">Last 3 Months</option>
        <option value="last-year">Last Year</option>
        <option value="all-time">All Time</option>
      </select>
    </div>
  </div>
</div>
<hr class="m-t">

<link rel="stylesheet" href="{% static "ci/css/sapphire.css" %}">
<link rel="stylesheet" href="{% static "ci/css/sapphire-theme.css" %}">
<div class="sapphire">
  <div class="row text-center m-t-lg">
    {% for widget in dashboard.widgets %}
    {% if forloop.counter|divisibleby:4 %}
  </div>
  <div class="row text-center m-t-lg">{% endif %}
    <div class="col-sm-4 m-b-md">
      <div id="w{{widget.id}}"></div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static "ci/js/d3.v3.min.js" %}"></script>
<script src="{% static "ci/js/strain.js" %}"></script>
<script src="{% static "ci/js/sapphire.js" %}"></script>
<script src="{% static "ci/js/superagent.js" %}"></script>
<script type="text/javascript">
    var data = {
      url: '/api/v1/metric/',
      step: 100000,
      widgets: {
        {% for widget in dashboard.widgets %}
        w{{ widget.id }}: {
          title: '{{ widget.title }}',
          metrics: [
            {% for metric in widget.data %}
            {
              title: '{{ metric.title}}',
              key: '{{ metric.key}}',
              values: []
            },

            {% endfor %}
          ],
          start: '-30d',
          interval: '1d',
          nulls: '{{ widget.nulls }}',
          type: '{{ widget.type_of}}'
        },
      {% endfor %}
      }
    };


  // Create the widget components. Widget configuration would be done here.
  var last = sapphire.widgets.last()
    .values(function(widget) {
      // Multiple 'last' metrics per widget doesn't make sense, use the first
      return widget.metrics[0].values;
    });
  var lines = sapphire.widgets.lines()
    .key(function(d) {
      return d.key;
    });
  var pie = sapphire.widgets.pie()
    // Format percentages nicely even if they have no data
    .percentFormat(function(value) {
      if (isNaN(value)){
        var value = 0;
      }
      var f = d3.format('.0%');
      return f(value);
    })
    .key(function(d) {
      return d.key;
    });
  var bars = sapphire.widgets.bars()
    .values(function(widget) {
      // Multiple bar metrics per widget doesn't work, use the first
      return widget.metrics[0].values;
    });


  // Update the dashboard on page load, then every `data.step` milliseconds.
  update();
  setInterval(update, data.step);


  // Select each widget element by id, then draw it using the sapphire components
  // we created above
  function draw() {
    {% for widget in dashboard.widgets %}
      d3.select('#w{{ widget.id }}')
      .datum(data.widgets.w{{ widget.id }})
      .call({{ widget.type_of }});
    {% endfor %}
  }

  // Updates each widget's metrics one by one, then draws the dashboard.
  function update() {
    var i = -1;
    var widgets = d3.values(data.widgets);

    function next() {
      if (++i < widgets.length){
        updateWidget(widgets[i], next);
        draw();
      } else {
        draw();
      }
    }

    next();
  }


  // Update a single widget's values by making an ajax request, then invokes a
  // callback when done.
  //
  // 1. Create the request object as a json request to the configured url, with
  // the from and interval parameters relevant to the widget and the auth token
  // associated with the vumi-go account.
  //
  // 2. Add each of the widget's metrics to the query
  //
  // 3. Make the request
  //
  // 4. Update the widget's metrics with the response
  //
  // 5. Invoke the `done` callback so the next metric request or draw can happen
  function updateWidget(widget, done) {
    var req = superagent
      .get(data.url)
      .type('json')
      .query({
        start: widget.start,
        interval: widget.interval,
        nulls: widget.nulls
      });

    metrics(widget)
      .forEach(function(d) { req.query({m: d.key}); });

    req
      .end(function(res) {
        if (!res.ok) {
          console.error(res.text);
          return;
        }
        // We need to stick the response into the expected format
        results = {};
        res.body.objects
          .forEach(function(met) {
            results[met.key] = met.values;
          });
        updateMetrics(widget, results);
        done();
      });
  }


  // Updates a widget's metric values using the given api response data.
  function updateMetrics(widget, data) {
    metrics(widget)
      .forEach(function(d) {
        if (widget['type'] == 'pie'){
          d.value = 0;
          data[d.key].forEach(function(v) {
            d.value += v.y
          })
        } else {
          d.values = data[d.key];
        }
      });
  }


  // Accesses a widget's metric data.
  //
  // `last` widgets only have a single metric. This function simplifies things
  // by allowing us to treat all widgets as having multiple widgets.
  //
  // Note that the `last` widget could have also been configured to handle this
  // distinction. Using this approach instead just means less widget
  // configuration is needed.
  function metrics(widget) {
    return widget.metrics
      ? widget.metrics
      : [widget];
  }

  function timeframeChange(selected) {
    var start = '-1d';
    var interval = '1d';
    switch (selected.value) {
      case 'last-week':
        start = '-7d';
        break;
      case 'last-30-days':
        start = '-30d';
        break;
      case 'last-3-months':
        start = '-90d';
        interval = '1w';
        break;
      case 'last-year':
        start = '-365d';
        interval = '1mon';
        break;
      case 'all-time':
        start = '-10y';
        interval = '1y';
        break;
    }
    for (var widget in data['widgets']) {
      data['widgets'][widget]['start'] = start;
      data['widgets'][widget]['interval'] = interval;
    }
    update();
  }

  </script>

{% endblock %}
