{% extends "ci/base.html" %}
{% load bootstrap %}
{% load static %}
{% block pagetitle %}Identity Management{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">Identity Management</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
    </div>
  </div>
</div>

<hr class="m-t">

<div class="flextable">
  <form class="form-inline" method="get" action=".">
    {{ form|bootstrap_inline }}
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
<hr class="m-t">
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Identity</th>
          <th>Primary Address</th>
          <th>Communicate Through</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for identity in identities %}
        <tr>
          {% url 'identities-detail' identity.id as url %}
          <td><a href="{{ url }}">{{ identity.id|truncatechars:12 }}</a></td>
          {% with addresses=identity|get_identity_addresses %}
          <td>{% for address, info in addresses.items %}{{ address }}{% endfor %}</td>
          {% endwith %}
          {% if identity.communicate_through %}
          {% url 'identities-detail' identity.communicate_through as url %}
          <td><a href="{{ url }}">{{ identity.communicate_through|truncatechars:12 }}</a></td>
          {% else %}
          <td>{{ identity.communicate_through }}</td>
          {% endif %}
          <td>{{ identity.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ identity.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="pagination pagination-list">
  {% if identities.has_previous %}
    <a href="{% replace_query_param request.build_absolute_uri 'page' identities.previous_page_number %}" class="pagination__link pagination__link--previous">
      <span class="pagination__link--arrow">&larr;</span> Prev
    </a>
  {% endif %}
  {% if identities.has_next %}
    <a href="{% replace_query_param request.build_absolute_uri 'page' identities.next_page_number %}" class="pagination__link pagination__link--next">Next
      <span class="pagination__link--arrow">&rarr;</span>
    </a>
  {% endif %}
</div>
{% endblock %}
