{% extends "ci/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load seed %}
{% block pagetitle %}Identity Management{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">Identity Management</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
    </div>
  </div>

</div>

<hr class="m-t">

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<h3>User Details</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table">
      <tbody>
        <tr>
          <th>Unique ID:</th><td>{{ identity.id }}</td>
        </tr>
        <tr>
          <th>Created:</th><td>{{ identity.created_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        <tr>
          <th>Last Updated:</th><td>{{ identity.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        <tr>
          <th>Communicate Through:</th>
          {% if identity.communicate_through %}
          {% url 'identities-detail' identity.communicate_through as url %}
          <td><a href="{{ url }}">{{ identity.communicate_through|truncatechars:12 }}</a></td>
          {% else %}
          <td>{{ identity.communicate_through }}</td>
          {% endif %}
        </tr>
        <tr>
          <th>Default Address:</th>
          {% with addresses=identity|get_identity_addresses %}
          <td>{% for address, info in addresses.items %}{{ address }}{% endfor %}</td>
          {% endwith %}
        </tr>
        {% for key, value in identity.details.items %}
          {% if not value|is_dict %}
            <tr>
              <th>{{ key|unslug|title }}:</th>
              <td>{{ value }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if optout_visible == True %}
  <div class="call-to-action call-to-action__new-section">
    <form class="form-inline" method="post" action=".">
    {% csrf_token %}
      <button type="submit" name="optout_identity" class="call-to-action__item call-to-action__item--submit-entry">Optout</button>
      <br/>
    </form>
  </div>
{% endif %}

<h3 class="identity__heading">Addresses</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Address Type</th>
          <th>Address</th>
          <th>Extra Information</th>
        </tr>
      </thead>
      <tbody>
        {% for address_type, addresses in identity.details.addresses.items %}
          {% for address, info in addresses.items %}
        <tr>
          <td>{{ address_type }}</td>
          <td>{{ address }}</td>
          <td>{% for k, v in info.items %}{{ k|title }}: {{ v }}{% endfor %}</td>
        </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h3 class="identity__heading">Registrations</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Registration</th>
          <th>Validated</th>
          <th>Stage</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for registration in registrations.results %}
        <tr>
          {% url 'registrations-detail' registration.id as url %}
          <td><a href="{{ url }}">{{ registration.id|truncatechars:12 }}</a></td>
          <td>{{ registration.validated }}</td>
          <td>{{ registration.stage }}</td>
          <td>{{ registration.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ registration.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h3 class="identity__heading">Changes</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Change</th>
          <th>Validated</th>
          <th>Action</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for change in changes.results %}
        <tr>
          {% url 'changes-detail' change.id as url %}
          <td><a href="{{ url }}">{{ change.id|truncatechars:12 }}</a></td>
          <td>{{ change.validated }}</td>
          <td>{{ change.action }}</td>
          <td>{{ change.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ change.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h3 class="identity__heading">Subscriptions</h3>
<div class="call-to-action call-to-action__new-section">
  <form class="form-inline" method="post" action=".">
  {% csrf_token %}
    <fieldset>
    {{ add_subscription_form|bootstrap_inline }}
    </fieldset>
    <button type="submit" name="add_subscription" class="call-to-action__item call-to-action__item--submit-entry">Add</button>
    <br/>
  </form>
</div>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Subscription</th>
          <th>Set</th>
          <th>Next</th>
          <th>Language</th>
          <th>Active</th>
          <th>Completed</th>
          <th>Created</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for subscription in subscriptions.results|dictsortreversed:'active' %}
        <tr>
          {% url 'subscriptions-detail' subscription.id as url %}
          <td><a href="{{ url }}">{{ subscription.id|truncatechars:12 }}</a></td>
          <td>{{ messagesets|get_item:subscription.messageset }}</td>
          <td>{{ subscription.next_sequence_number }}</td>
          <td>{{ subscription.lang }}</td>
          <td>{{ subscription.active }}</td>
          <td>{{ subscription.completed }}</td>
          <td>{{ subscription.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ subscription.updated_at|get_date|date:"D d M Y H:i" }}</td>
          <td>
          {% if subscription.active == True %}
          <form class="form-inline" method="post" action=".">
          {% csrf_token %}
            <fieldset>
              <input id="id_subscription_id" name="subscription_id" type="hidden" value={{ subscription.id }} />
            </fieldset>
            <button type="submit" name="deactivate_subscription" class="call-to-action__item call-to-action__item--subscription">Deactivate</button>
          </form>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h3 class="identity__heading">Messages sent to user</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Delivered</th>
          <th>Attempts</th>
          <th>Content</th>
          <th>Created</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for outbound in outbound_messages %}
        <tr>
          <td>{{ outbound.delivered }}</td>
          <td>{{ outbound.attempts }}</td>
          <td>
             {% if outbound.content %}
                {{ outbound.content }}
             {% elif outbound.metadata.voice_speech_url %}
                <a href="{{outbound.metadata.voice_speech_url}}" target="_blank">{{outbound.metadata.voice_speech_url}}</a>
             {% else %}
                Content not found.
             {% endif %}
          </td>
          <td>{{ outbound.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ outbound.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="pagination pagination-list">
  {% if outbound_messages.has_previous %}
    <a href="{% replace_query_param request.build_absolute_uri 'outbound_page' outbound_messages.previous_page_number %}" class="pagination__link pagination__link--previous">
      <span class="pagination__link--arrow">&larr;</span> Prev
    </a>
  {% endif %}
  {% if outbound_messages.has_next %}
    <a href="{% replace_query_param request.build_absolute_uri 'outbound_page' outbound_messages.next_page_number %}" class="pagination__link pagination__link--next">Next
      <span class="pagination__link--arrow">&rarr;</span>
    </a>
  {% endif %}
</div>

<h3 class="identity__heading">Inbound Messages</h3>
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>To Address</th>
          <th>Content</th>
          <th>Created Date</th>
          <th>Last Updated Date</th>
        </tr>
      </thead>
      <tbody>
        {% for inbound in inbound_messages %}
        <tr>
          <td>{{ inbound.to_addr }}</td>
          <td>{{ inbound.content }}</td>
          <td>{{ inbound.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ inbound.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="pagination pagination-list">
  {% if inbound_messages.has_previous %}
    <a href="{% replace_query_param request.build_absolute_uri 'inbound_page' inbound_messages.previous_page_number %}" class="pagination__link pagination__link--previous">
      <span class="pagination__link--arrow">&larr;</span> Prev
    </a>
  {% endif %}
  {% if inbound_messages.has_next %}
    <a href="{% replace_query_param request.build_absolute_uri 'inbound_page' inbound_messages.next_page_number %}" class="pagination__link pagination__link--next">Next
      <span class="pagination__link--arrow">&rarr;</span>
    </a>
  {% endif %}
</div>

{% endblock %}
