{% extends "ci/base.html" %}
{% load staticfiles %}
{% block pagetitle %}404 Not Found{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">404 Not Found</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
      &nbsp;
    </div>
  </div>
</div>

<hr class="m-t">

<div class="row text-center m-t-lg">
  <p>404 Not Found.</p>
  <p>
    Sorry, something went away. Please press back button to return to where
    you can from. Please ask your administrator for more
    information if you think the item should be here.
  </p>
</div>
{% endblock %}
