{% extends "ci/base.html" %}
{% load staticfiles %}
{% block pagetitle %}Service Status{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">Service Status</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
    </div>
  </div>
</div>

<hr class="m-t">

<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Service</th>
          <th>URL</th>
          <th>Status</th>
          <th>Last Checked</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services.results %}
        <tr>
          {% url 'services-detail' service.id as url %}
          <td><a href="{{ url }}">{{ service.name }}</a></td>
          <td>{{ service.url }}</td>
          <td>{{ service.up|yesno:"Up,Down,Unknown" }}</td>
          <td>{{ service.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
