{% extends "ci/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block pagetitle %}Subscription Management{% endblock %}
{% block content %}
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Seed Control Interface</h6>
    <h2 class="dashhead-title">Subscription Management</h2>
  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
    </div>
  </div>
</div>

<hr class="m-t">

<div class="flextable">
  <form class="form-inline" method="post" action=".">
    {% csrf_token %}
    {{ form|bootstrap_inline }}
    <button type="submit" class="btn btn-default">Filter</button>
    <b>Results:</b> {{ subscriptions.count }}
  </form>
</div>
<hr class="m-t">
<div class="table-full">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Subscription</th>
          <th>Recipient</th>
          <th>Set</th>
          <th>Next</th>
          <th>Language</th>
          <th>Active</th>
          <th>Completed</th>
          <th>Created</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for subscription in subscriptions.results %}
        <tr>
          {% url 'subscriptions-detail' subscription.id as url %}
          <td><a href="{{ url }}">{{ subscription.id|truncatechars:12 }}</a></td>
          {% url 'identities-detail' subscription.identity as url %}
          <td><a href="{{ url }}">{{ subscription.identity|truncatechars:12 }}</a></td>
          <td>{{ messagesets|get_item:subscription.messageset }}</td>
          <td>{{ subscription.next_sequence_number }}</td>
          <td>{{ subscription.lang }}</td>
          <td>{{ subscription.active }}</td>
          <td>{{ subscription.completed }}</td>
          <td>{{ subscription.created_at|get_date|date:"D d M Y H:i" }}</td>
          <td>{{ subscription.updated_at|get_date|date:"D d M Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
